.profile__section-subtitle {
  max-width: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  z-index: 12;
  margin: 0 0 25px 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


@media screen and (max-width: 900px) {
  .profile__section-subtitle {
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 600px) {
  .profile__section-subtitle {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 36px;
    text-align: center;
    min-width: 282px;
  }
}
