.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 22px 0 16px 60px;
  z-index: 11;
  min-width: 294px;
}



@media screen and (max-width: 900px) {
  .section-title {
   min-width: 250px;
   font-size: 32px;
   grid-row: 1;
   grid-column: 2;

  }
}

@media screen and (max-width: 768px) {
  .section-title {
    min-width: 200px;
    font-size: 25px;
  }
}


@media screen and (max-width: 600px) {
  .section-title {
    font-size: 27px;
    line-height: 33px;
    margin: 22.25px auto 14px;
    text-align: center;
    min-width: 189px;

  }
}
