.header__logo {
    max-width: 142px;
    max-height: 33px;
    z-index: 10;
  }

  @media screen and (max-width: 650px) {
    .header__logo {
      max-width: 103.74px;
      max-height: 24.4px;
      margin-left: 27px;
    }
  }


