.header {
    max-width: 880px;
    width: calc(100vw-400px);
    min-height: 74px;
    margin: 45px auto 40px;
    border-bottom: solid 1px #545454;

  }


  @media screen and (max-width: 1024px) {
    .header {
      max-width: 750px;
      max-height: 66px;
    }
  }

  @media screen and (max-width: 800px) {
    .header {
      max-width: 600px;
      width: 100vw;

    }
  }

  @media screen and (max-width: 425px) {
    .header {
      max-width: 320px;
      width: 100vw;
      min-height: 55px;
      margin: 28px auto 38.25px;

    }
  }

