.profile__section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 22px 0 16px 60px;
  z-index: 11;
  min-width: 294px;
  align-self: flex-end;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}



@media screen and (max-width: 900px) {
  .profile__section-title {
   min-width: 250px;
   font-size: 32px;
   grid-row: 1;
   grid-column: 2;

  }
}

@media screen and (max-width: 768px) {
  .profile__section-title {
    min-width: 200px;
    font-size: 25px;
  }
}


@media screen and (max-width: 600px) {
  .profile__section-title {
    font-size: 27px;
    line-height: 33px;
    margin: 22.25px auto 14px;
    text-align: center;
    min-width: 189px;

  }
}
