.element__image {
  max-width: 282px;
  max-height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
  min-width: 100%;


}


@media screen and (max-width: 1024px) {
  .element__image {
    max-width: 750px;
  }
}


@media screen and (max-width: 800px) {
  .element__image {
   max-width: 600px;



  }
}


@media screen and (max-width: 425px) {
  .element__image {
   max-width: 282px;



  }
}






