.element__image {
  max-width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
  min-width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 800px) {
  .element__image {
    max-width: 400px;
  }
}


@media screen and (max-width: 425px) {
  .element__image {
    max-width: 282px;

  }
}
