.popup__close-image {
  background-image: url(../../../image/popup__close.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  padding: 0;
  transition: 0.4s;
}

.popup__close-image:hover {
  opacity: 0.6;

}

@media screen and (max-width: 600px) {
  .popup__close-image {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0px;
  }
}
