.footer {
  max-width: 880px;
  margin: 0 auto 60px;
  width: calc(100vw-400px);



}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 750px;

  }
}


@media screen and (max-width: 800px) {
  .footer {
    max-width: 600px;

  }
}



@media screen and (max-width: 425px) {
  .footer {
    max-width: 282px;
    margin: 0 auto 36px;
    width: 100vw;

  }
}
