.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 750px;
  }
}


@media screen and (max-width: 800px) {
  .footer {
    max-width: 600px;
  }
}



@media screen and (max-width: 425px) {
  .footer {
    max-width: 282px;
    margin: 0 auto 36px;

  }
}
