.profile__elements {
  max-width: 336px;
  width: 100vw;
  margin: 0;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .profile__elements {
    max-width: 282px;
    max-height: 254px;
  }
}




