.profile__button_type_edit {
  background-image: url(../../../../image/Edit\ Button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  width: 24px;
  height: 24px;
  margin: 37px 0 22px 18px;
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  cursor: pointer;

}

@media screen and (max-width: 1024px) {
  .profile__button_type_edit {
    width: 20px;
    height: 20px;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 800px) {
  .profile__button_type_edit {
    grid-row: 1;
    grid-column: 4;
  }
}

@media screen and (max-width: 600px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
    grid-row: 1;
    grid-column: 2;
    margin: 0 19px 18px 10px;
  }
}
